<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.polito.group2.restaurantowner">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".HaveBreak"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".owner.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".owner.AddRestaurantActivity"
            android:label="@string/title_activity_add_restaurant"
            android:parentActivityName=".owner.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".owner.MainActivity" />
        </activity>
        <activity
            android:name=".owner.Restaurant_page"
            android:label="@string/restaurant_page_name"
            android:parentActivityName=".owner.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".owner.StatisticsActivity"
            android:label="@string/statistics_activity"
            android:parentActivityName=".owner.Restaurant_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".owner.ReviewsActivity"
            android:label="@string/reviews_activity"
            android:parentActivityName=".owner.Restaurant_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".owner.Enlarged_image" />
        <activity
            android:name=".owner.MoreRestaurantInfo"
            android:label="@string/restaurant_page_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".owner.MenuRestaurant_page"
            android:label="@string/title_activity_menu_restaurant_page"
            android:parentActivityName=".owner.Restaurant_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".owner.MenuRestaurant_edit"
            android:label="@string/title_activity_menu_restaurant_edit"
            android:parentActivityName=".owner.MenuRestaurant_page"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".owner.my_offers.MyOffersActivity"
            android:label="@string/title_activity_offer_list"
            android:parentActivityName=".owner.Restaurant_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".owner.offer.OfferActivity"
            android:label="@string/title_activity_add_offer"
            android:parentActivityName=".owner.my_offers.MyOffersActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".owner.ReservationActivity"
            android:label="@string/title_activity_reservation"
            android:parentActivityName=".owner.Restaurant_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.restaurant_page.UserRestaurantActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".user.restaurant_list.UserRestaurantList"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>
        <activity
            android:name=".user.restaurant_page.UserTableReservationActivity"
            android:label="@string/title_activity_reservation"
            android:parentActivityName=".user.restaurant_page.UserRestaurantActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.restaurant_page.UserMyReservations"
            android:label="@string/title_activity_my_reservation"
            android:parentActivityName=".user.restaurant_page.UserRestaurantActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gallery.GalleryViewActivity"
            android:label="@string/title_activity_gallery_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gallery.FullScreenGalleryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/MyFullscreenTheme" />
        <activity
            android:name=".user.my_reviews.MyReviewsActivity"
            android:label="@string/title_activity_my_reviews"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.restaurant_page.AddReviewActivity"
            android:label="@string/title_activity_add_reviews"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.restaurant_page.Filter"
            android:label="@string/filter"
            android:parentActivityName=".user.restaurant_list.UserRestaurantList"
            android:theme="@style/AppTheme.NoActionBar">
            </activity>
        <activity
            android:name=".user.restaurant_page.FilterCategory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.order.OrderActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBdR9qf1_Pmzqvz68hjp1Fq0OBt8zyMzFo" />

        <activity
            android:name=".user.restaurant_page.UserProfile"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".user.restaurant_page.UserMyFavourites"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.my_orders.MyOrdersActivity"
            android:label="@string/title_activity_my_orders"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.LoginManagerActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.GoogleLogInActivity"
            android:label="@string/title_activity_google_log_in"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.search.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.restaurant_list.MapsActivity"
            android:label="@string/title_activity_maps"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".user.restaurant_list.StreetViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- [START firebase_service] -->
        <service
            android:name=".user.restaurant_list.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
    </application>

</manifest>
